p {
    color: rgb(31, 20, 44);
    width: 500px;
    border: 1px solid black;
    font-family: 'Babylonica', cursive;
    font-family: 'IM Fell Double Pica SC', serif;
}

ul {
    color: rgb(64, 10, 201);
    font-family: 'Babylonica', cursive;
    font-family: 'IM Fell Double Pica SC', serif;
    border: 2px dotted;
}

ol {
    color: rgb(151, 12, 161);
    font-family: 'Babylonica', cursive;
    font-family: 'IM Fell Double Pica SC', serif;
    border: 2px dotted;
}